[Unit]
Description=Payment Service
After=network.target

[Service]
User=roboshop
WorkingDirectory=/app

Environment=CART_HOST=cart.deeps.sbs
Environment=CART_PORT=80
Environment=USER_HOST=user.deeps.sbs
Environment=USER_PORT=80
Environment=AMQP_HOST=rabbitmq.deeps.sbs
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=roboshop123

ExecStart=/usr/local/bin/uwsgi \
    --chdir /app \
    --wsgi-file payment.py \
    --callable app \
    --master \
    --processes 1 \
    --lazy-apps \
    --enable-threads \
    --socket 0.0.0.0:8080 \
    --protocol http

Restart=always
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target
